*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #84dae6;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:360px ;
    height:570px ;
    background: white;
background: radial-gradient(circle, rgb(201, 206, 231) 0%, rgba(148,150,199,0.7063200280112045) 47%, rgb(40, 197, 224) 100%);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
padding: 25px;
gap: 25px;
}
.card img{
    width: 80%;
    height: 40%;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card h2{
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
}
.card p{
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    
}
